$FooterColor: #353535;
$LocationColor: #eaeaea;
$GreyBackground: #f6f6f6;
$WhiteBackground: #ffffff;
$Primary-color: #9356dc;
$Secondary-color: #ff79da;
$Tertiary-color: #99e2d0;
$Title-font: "Shrikhand", serif;
